src/main/mule/xsettlers-object-main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<flow name="getObjects"
		doc:id="b00610aa-d263-4236-994b-73e3ae424416">
		<os:retrieve-all doc:name="Retrieve all"
			doc:id="428a7f11-b222-4b68-b1d5-96bb0d0ea63c" />
		<ee:transform doc:name="to JSON"
			doc:id="39478c88-ebd2-424c-8515-b7b15bf53418">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger"
			doc:id="da44f01b-99b6-456a-b55a-65af1994cc08" message="#[payload]" />
	</flow>


	<flow name="postObject"
		doc:id="6161c9a3-1c96-4b63-8226-31745f8077e1">
		<set-variable
			value='#[(payload.objecttypename default "generic") ++ (now() as String {format: "-yyMMddhhmm-"}) ++ randomInt(10000)]'
			doc:name="candidateKey" doc:id="e30c18d7-41be-4298-bf41-d86c2248adaa"
			variableName="candidateKey" />
		<set-variable value="#[vars.recursionLatch default 0]"
			doc:name="recursionLatch"
			doc:id="372009ae-6284-4a26-8aa1-49f781561b6e"
			variableName="recursionLatch" />
		<os:contains doc:name="already in Object store?"
			doc:id="402eb9aa-675d-45b7-9c65-4ee14c52bff3"
			key="#[vars.candidateKey]" target="keyAvailable"
			doc:description="stuff happens here" />
		<choice doc:name="Choice"
			doc:id="f739355b-8ebf-4413-bee1-eb940bf64d4a">
			<when expression="#[/* Good key? */ vars.keyAvailable == false]">
				<os:store doc:name="Store"
					doc:id="07cf11b8-ab7c-443d-8cd3-951dd0c80769"
					key="#[vars.candidateKey]"
					doc:description="Stalled here ... the needed value is localized to the Until Successful block" />
				<ee:transform doc:name="Transform Message"
					doc:id="47a90872-5032-4a02-887a-ec91cc0fd585">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	newkey: vars.candidateKey,
	storedrecord: payload
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<set-variable value="#[vars.recursionLatch + 1]"
					doc:name="increment recursionLatch"
					doc:id="7a182b03-0587-4423-8a20-a4732e0dfe6e"
					variableName="recursionLatch" />
				<try doc:name="Try"
					doc:id="0600acd5-7112-4436-95c7-2814cda0fcc4">
					<validation:is-true
						doc:name="not at max recursion depth"
						doc:id="683b0dfc-083b-459a-afb5-9f228cb4b6cf"
						message="Too many key creation attempts"
						expression="#[vars.recursionLatch &lt; 8]" doc:description="This is a hack. A more elegant way to do this can be found.">
						<error-mapping
							sourceType="VALIDATION:INVALID_BOOLEAN"
							targetType="APP:KEY_CREATION_FAILED" />
					</validation:is-true>
					<error-handler>
						<on-error-propagate enableNotifications="true"
							logException="true" doc:name="Cannot create key (propagate)"
							doc:id="39a12460-5cba-462b-a560-35befe51a04f">
							<logger level="INFO" doc:name="Logger"
								doc:id="ea0e9470-104e-4dd5-92b7-08e530df097b"
								message='#["Object creation failed - could not get key"]' />
						</on-error-propagate>
					</error-handler>
				</try>
				<flow-ref doc:name="createValidKey (again)"
					doc:id="e68e55f2-c52e-4ca4-ab1c-1d2241609a63" name="postObject" />
			</otherwise>
		</choice>
	</flow>
	<flow name="getObjectByID"
		doc:id="5e86a6af-9ba0-427b-aa8a-e9e165b3caff">
		<os:retrieve doc:name="object"
			doc:id="cbd9352f-c3ea-42b5-bad4-e1fe53424f9b" key="#[vars.ID]">
			<error-mapping sourceType="OS:KEY_NOT_FOUND"
				targetType="APP-PUT:KEY_NOT_FOUND" />
			<error-mapping sourceType="OS:INVALID_KEY"
				targetType="APP-PUT:INVALID_KEY" />
			<os:default-value><![CDATA[#["unknown"]]]></os:default-value>
		</os:retrieve>
		<error-handler>
			<on-error-propagate enableNotifications="true"
				logException="true" doc:name="On Error Propagate"
				doc:id="2b8bd238-ee20-4282-a73f-ec7a7b69b496"
				type="APP-PUT:INVALID_KEY, APP-PUT:KEY_NOT_FOUND">
				<set-variable value="499" doc:name="httpStatus"
					doc:id="9de90e04-4326-4474-8960-34a956509ddf"
					variableName="httpStatus" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="putObjectByID"
		doc:id="ee17a4d3-c862-43b5-b975-9168ce14f2af">
		<logger level="INFO" doc:name="Validate candidate object" doc:id="6494384c-06fb-4b6c-9679-190985c98412" message="This flow is not correctly implementedThis flow is not correctly implemented " doc:description="This flow is not correctly implemented"/>
		<os:store doc:name="Store"
			doc:id="419a2652-31e6-4cc9-ba88-47196b314c2a"
			key='#[(vars.ID default "lost-object-") ++ (now() as String {format: "yyyyMMdd"})]' />
		<logger level="INFO" doc:name="Logger"
			doc:id="c18fb334-01c0-4712-b821-618fc42a40ca"
			message='#["\nUpdating object: " ++ (vars.ID default "unassigned")]' />
	</flow>
	<flow name="deleteObjectByID"
		doc:id="212a4df1-86fb-4805-b857-61eb79f3facd">
		<os:remove doc:name="object"
			doc:id="bc553dab-bdea-41b4-b6f2-46ee5a9b8467" key="#[vars.ID]" />
		<error-handler>
			<on-error-continue enableNotifications="true"
				logException="false" doc:name="On Error Continue"
				doc:id="f208e0f7-6d4f-4ffc-8c53-40cde356a2fe"
				type="OS:INVALID_KEY, OS:KEY_NOT_FOUND">
				<set-variable value="299" doc:name="httpStatus"
					doc:id="3688f336-6138-4949-aaeb-9f0a3ab482db"
					variableName="httpStatus" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>